.wrap {
  display: flex;
  position: relative;
  margin: -24px;
}

.body {
  flex: 1;
  padding: 40px;
}


.cover {
  background: center/70% #f1e4e7 no-repeat;
  width: 50%;
  margin: 0;
}

@import 'mixins';

h1 {
  font-size: 24px;
  margin: 0 0 8px;
  line-height: 1;
  @include sp {
    margin-bottom: 8px;
  }
}

.result {
  letter-spacing: 1px;
  &__q {
    font-size: 16px;
    margin-bottom: 8px;
    @include sp {
      font-size: 16px;
    }
  }
  &__a {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    color: rgba(black, 0.6);
    @include sp {
      font-size: 13px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.by {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 24px;
  font-family: 'Berkshire Swash', cursive;
  color: rgba(white, 0.87);
  margin: 0;
  @include sp {
    font-size: 14px;
  }
}

mat-icon {
  margin-left: 8px;
}

.date {
  color: rgba(black, .38);
  font-size: 13px;
  margin-bottom: 24px;
  @include sp {
    margin-bottom: 16px;
  }
}

button {
  margin-right: 16px;
}
