<div class="wrap">
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <span class="brand"
        ><span class="logo" routerLink="/">CoachKit</span>
        <small
          >by<a href="https://twitter.com/d151005" target="_blank"
            >@d151005</a
          ></small
        ></span
      >
      <span class="spacer"></span>
      <button mat-button routerLink="edit">
        カスタマイズ
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
