.spacer {
  flex: 1 1 auto;
}

.logo {
  a {
    text-decoration: none;
    color: rgba(black, .3);
    margin-left: 4px;
  }
  small {
    font-weight: normal;
    color: rgba(black, .3);
    font-size: 13px;
    margin: 0 4px;
  }
}

.wrap {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
