<div class="wrap" (keydown.s)="toggleStatus()">
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <span class="brand"
        ><span class="logo" routerLink="/">COACHING</span>
        <small
          >by<a href="https://twitter.com/d151005" target="_blank"
            >@d151005</a
          ></small
        ></span
      >
      <span class="spacer"></span>
      <button
        mat-raised-button
        *ngIf="!(started$ | async); else stopButton"
        color="primary"
        (click)="start()"
        matTooltip="ショートカット(s)"
      >
      <mat-icon class="mat-18">play_arrow</mat-icon>
        <span>スタート</span>
      </button>
      <button mat-button>コーチングガイド</button>
      <button mat-button>トークキット</button>
      <ng-template #stopButton>
        <button mat-button matTooltip="ショートカット(s)" (click)="stop()">
            <mat-icon class="mat-18">pause</mat-icon>
            <span>一時中断</span>
          </button>
      </ng-template>
      <button mat-icon-button routerLink="edit">
        <mat-icon class="mat-18">edit</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
