@import "mixins";

.spacer {
  flex: 1 1 auto;
}

.header {
  background: none;
  border-bottom: 1px solid rgba(black, .12);
}

.logo {
  cursor: pointer;
  outline: none;
  font-family: 'Berkshire Swash', cursive;
  font-size: 27px;
  color: #33182A;
}

.brand {
  a {
    text-decoration: none;
    color: rgba(black, .3);
    margin-left: 4px;
  }
  small {
    font-weight: normal;
    color: rgba(black, .3);
    font-size: 13px;
    margin: 0 4px;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}
