.spacer {
  flex: 1 1 auto;
}

.header {
  background: none;
}

.logo {
  cursor: pointer;
  outline: none;
  font-family: 'Berkshire Swash', cursive;
  font-size: 27px;
  color: #4E4041;
}

.brand {
  a {
    text-decoration: none;
    color: rgba(black, .3);
    margin-left: 4px;
  }
  small {
    font-weight: normal;
    color: rgba(black, .3);
    font-size: 13px;
    margin: 0 4px;
  }
}

.wrap {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}
