.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  align-items: center;
  display: flex;
}

.timer {
  flex: 1;
  height: 56px;
  background: #000;
  position: relative;
  &__value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff4081;
    transform-origin: left;
    transform: scaleX(0);
    transition: 1s linear;
  }
  &__label {
    position: absolute;
    bottom: 100%;
    left: 8px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 8px;
    small {
      font-weight: normal;
      font-size: 13px;
      color: rgba(black, .6);
    }
  }
}

.question {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 56px;
}
