<div class="main">

<div class="question">
  <p class="question__message">{{ questions[questionIndex$ | async].text }}</p>
</div>

<div class="answer">
  <input type="text" #answerInput [formControl]="answer" class="answer__input">
</div>

</div>

<button (click)="getReport()" mat-fab color="primary" class="report" *ngIf="isComplete">
  <mat-icon class="mat-18">assignment</mat-icon>
</button>

<div class="bottom-bar">
  <div class="controls">
    <button mat-icon-button (click)="toPrev()">
      <mat-icon class="mat-18" matTooltip="次の質問(←)">chevron_left</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="カウントダウン(s)"
      (click)="start()"
      *ngIf="!(started$ | async); else stopButton"
    >
      <mat-icon class="mat-18">play_arrow</mat-icon>
    </button>
    <ng-template #stopButton>
      <button mat-icon-button matTooltip="一時停止(s)" (click)="stop()">
        <mat-icon class="mat-18">pause</mat-icon>
      </button>
    </ng-template>
    <button mat-icon-button matTooltip="次の質問(→)" (click)="toNext()">
      <mat-icon class="mat-18">chevron_right</mat-icon>
    </button>
  </div>
  <div class="timer">
    <p class="timer__label">
      <ng-container>{{ now.min | number: '2.0' }}:</ng-container
      >{{ now.sec | number: '2.0' }} <small>セッション: {{sessionTime / 60}}分</small>
    </p>
    <div class="timer__value" [style.transform]="'scaleX(' + per + ')'"></div>
  </div>
</div>
