@import "mixins";

:host {
  display: block;
  width: 100%;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  align-items: center;
  display: flex;
}

.timer {
  flex: 1;
  height: 56px;
  background: #000;
  position: relative;
  &__value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff4081;
    transform-origin: left;
    transform: scaleX(0);
    transition: 1s linear;
  }
  &__label {
    position: absolute;
    bottom: 100%;
    left: 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 8px;
    @include sp {
      font-size: 20px;
    }
    small {
      font-weight: normal;
      font-size: 13px;
      color: rgba(black, .6);
      @include sp {
        font-size: 11px;
      }
    }
  }
}

.main {
  padding-bottom: 56px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px 56px;
  box-sizing: border-box;
  width: 100%;
  @include sp {
    margin-top: 40px;
  }
}

.question {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin: 0 auto 80px;
  @include sp {
    font-size: 24px;
    margin-bottom: 40px;
  }
  &__message {
    margin: 0;
  }
}

.answer {
  &__input {
    font-size: 64px;
    font-weight: bold;
    outline: none;
    border: none;
    width: 100%;
    color: rgba(black, .6);
    border-bottom: 4px solid black;
    @include sp {
      font-size: 16px;
      font-weight: normal;
    }
  }
}

.report {
  position: fixed;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  @include sp {
    top: auto;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
}
