@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Noto Sans JP";
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}
